@import 'utils';

.logo {
  color: $logo-color;
  font-family: 'Montserrat', sans-serif;
  font-size: rem(50);
  opacity: .8;
  position: absolute;
  top: calc(50% - 80px);
  width: 100%;
  z-index: 1000;
}

.square {
  border: 5px solid $logo-color;
  display: inline-block;
  filter: drop-shadow(5px 5px 4px $logo-color);
  height: rem(28);
  margin-left: 5px;
  width: rem(28);
}
