@import 'utils';

.card-wrapper {
  width: calc(100% / 3);

  @media ($mat-medium-down) and ($mat-xsmall-up) {
    width: 50%;
  }

  @media ($mat-xsmall-down) {
    padding: 0 1rem;
    width: 100%;
  }
}
