@import 'utils';

$profile-pic-size: rem(90) !default;
$profile-pic-size-sm: rem(50) !default;
$profile-pic-overflow-y: -45px !default;
$sidebar-container-overflow-y: -50px !default;
$sidebar-container-overflow-y-sm: -75px !default;
$tab-height: 60px !default;
$tab-width: 160px !default;
$container-tab-width: 960px !default;
$offset-top-fixed: 140px;
$offset-top-fixed-sm: 75px;

.sidebar-container {
  @include mat-elevation(6);
  background: $white;
  margin: $sidebar-container-overflow-y 10px 10px;
  max-width: $mat-menu-sidebar-max-width;
  position: sticky;
  width: calc(25vw - 20px); // 1/4 screen - padding

  [mat-list-item] {
    color: $color-base;
  }

  ::ng-deep {
    .profile-pic {
      @include mat-elevation(2);
      border-radius: 5px;
      height: $profile-pic-size;
      margin-left: calc(50% - #{$profile-pic-size} / 2);
      margin-top: $profile-pic-overflow-y;
      width: $profile-pic-size;
    }

    .profile-pic-sm {
      @include mat-elevation(2);
      border-radius: 50%;
      height: $profile-pic-size-sm;
      width: $profile-pic-size-sm;
    }
  }
}

.host-wrapper-sm {
  @media ($mat-small-down) {
    display: block;
    margin-bottom: calc(#{$offset-top-fixed-sm} - 10px);
  }
}

.fixed {
  position: fixed;
  top: $offset-top-fixed;
}

.fixed-sm {
  @include shadow-default;
  position: fixed;
  top: $offset-top-fixed-sm;
}

.tabs {
  background: $bg-base;
  overflow-x: auto;
  width: 100vw;
}

.mat-tab-link {
  background-color: $white;
  color: $color-base;
  height: $tab-height;
  line-height: normal;
  width: $tab-width;
}

.mat-tab-link-inner {
  height: $tab-height;
}

.active {
  background: $gray-lighter;
}

.mat-nav-list {
  padding-top: 0;
}

.tab-link-icon {
  margin-right: 10px;
  vertical-align: middle;
}

.profile-info-wrapper-sm {
  background: $white;
  border-bottom: 1px solid $border-color;
  margin-top: $sidebar-container-overflow-y-sm;
  padding: rem(10);
  width: 100vw;
}

.name-wrapper {
  display: block;
  font-size: rem(25);
  padding: rem(20) rem(10);
  text-align: center;
}

.name-wrapper-sm {
  font-size: rem(20);
  margin-left: rem(10);
}

@media ($mat-medium-down) {
  nav {
    min-width: $container-tab-width;
  }
}
