@import 'utils';

$profile-pic-size: rem(90) !default;
$profile-pic-overflow-y: 45px !default;
$sidebar-container-overflow-y: 50px !default;
$mat-menu-container-width: 200px !default;

.sidebar-container {
  @include mat-elevation(6);
  background: $white;
  margin-top: -$sidebar-container-overflow-y;
  position: sticky;
  top: $sidebar-container-overflow-y;
  width: $mat-menu-container-width;

  .mat-list-item {
    color: $color-base;
  }

  ::ng-deep {
    .profile-pic {
      @include mat-elevation(2);
      border-radius: 5px;
      height: $profile-pic-size;
      margin-left: calc(50% - #{$profile-pic-size} / 2);
      margin-top: -$profile-pic-overflow-y;
      width: $profile-pic-size;
    }
  }
}

.name-wrapper {
  display: block;
  font-size: rem(25);
  padding: rem(20) rem(10);
  text-align: center;
}

.active-link {
  background: $gray-lighter;
}
