<h2 class="sub-heading-styles">{{ 'labels.projectsTitle' | translate }}</h2>

<app-cv-card-grid-pres [items]="projects" [cardTemplate]="cardTemplate"></app-cv-card-grid-pres>

<ng-template #cardTemplate let-project>
  <app-cv-card-pres class="card" [id]="project?.id" [title]="project?.title" [thumbImg]="project?.logo">
    <div class="card-recap">
      <ng-template let-emp [ngTemplateOutletContext]="{ $implicit: getEmployerFromProject(employs, project?.employerId) }"
                   [ngTemplateOutlet]="t" #t>
        <div class="d-flex align-items-center pb-1"><mat-icon class="pr-2">place</mat-icon><span>{{ emp?.location }}</span></div>
        <div class="d-flex align-items-center pb-1"><mat-icon class="pr-2">business</mat-icon><span>{{ emp?.employer }}</span></div>
      </ng-template>
      <div class="d-flex align-items-center"><mat-icon class="pr-2">date_range</mat-icon><span></span></div>
    </div>
    <div class="card-description">{{ project?.summary }}</div>
    <div class="card-actions">
      <button mat-raised-button color="primary">{{ 'labels.moreDetails' | translate }}</button>
      <a *ngIf="project?.url" mat-raised-button href="{{ project?.url }}" target="_blank"
         (click)="$event.stopPropagation()">{{ 'labels.url' | translate }}</a>
      <a *ngIf="project?.download" mat-raised-button href="{{ '/assets/pdf/' + project?.download }}" download
         (click)="$event.stopPropagation()"><mat-icon>file_download</mat-icon>{{ 'labels.download' | translate }}</a>
    </div>
  </app-cv-card-pres>
</ng-template>
