/* Common */
$bg-base: $gray-lightest-1;
$border-color: $gray-lighter;

/* Fonts */
$color-base: $black-07;
$color-quote: $black-054;

/* Logo */
$logo-color: $gray-dark-1;

/* Footer */
$bg-footer: $aquamarine;

/* Initial loading */
$loading-1: $red-1;
$loading-2: $blue-1;
$loading-3: $yellow-1;