@import 'utils';

$tab-min-width: 180px !default;

:host {
  left: 0;
  height: 100%;
  position: absolute;
  width: 100vw;
}

.sidebar-container {
  background: $white;
  position: sticky;
  top: 0;
  z-index: 2;

  ::ng-deep {
    .profile-pic {
      @include profile-pic($profile-pic-size-small);
    }
  }
}

.sidebar-row-1 {
  background: $bg-base;
}

.mat-tab-nav-bar {
  overflow-x: scroll;
}

.mat-tab-link {
  @media ($mat-small-up) {
    min-width: $tab-min-width;
  }
}

.active-link {
  background: $gray-lighter;
}
