@import 'utils';

:host {
  left: 0;
  height: 100%;
  position: absolute;
}

.sidebar-container {
  background: $white;
  position: sticky;
  top: 0;
  z-index: 2;

  ::ng-deep {
    .profile-pic {
      @include profile-pic($profile-pic-size-small);
    }
  }
}

.active-link {
  background: $gray-lighter;
}
