@import 'utils';

@include sub-heading-styles;
@include shared-common-styles;

.map {
  height: $google-maps-height;
  margin: 0 -10px;
}

.contact-wrapper,
.social-wrapper {
  font-size: 1.3rem;

  .mat-button {
    font-size: 1.3rem;
    font-weight: 300;
    padding: 0;
  }

  .mat-icon {
    height: auto;
  }
}

.contact-icon {
  display: inline-block;
  font-size: 2rem;
  margin-right: 1.2rem;
  vertical-align: middle;
  width: rem(24);
}

.social-link {
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}

.separator {
  font-weight: 300;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.separator + div {
  font-weight: 300;
}
