<ng-container *ngIf="(cvService.cv$ | async) as cv">
  <ng-container [ngSwitch]="TAB_OPTIONS[data?.tab]">
    <ng-container *ngSwitchCase="TAB_OPTIONS.EMPLOYS">
      <app-cv-modal-employers-pres *ngIf="cv?.content" [employ]="getEmployerFromCv(cv?.content, data?.modal)"
                                   (onCloseModal)="closeModal()"></app-cv-modal-employers-pres>
    </ng-container>
    <ng-container *ngSwitchCase="TAB_OPTIONS.PROJECTS">
      <ng-container *ngIf="cv?.content && getProjectFromCv(cv?.content, data?.modal) as project">
        <app-cv-modal-projects-pres *ngIf="cv?.content" [project]="project"
                                    [employ]="getEmployerFromProject(cv?.content?.employment?.history, project?.employerId)"
                                    (onCloseModal)="closeModal()"></app-cv-modal-projects-pres>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>

