@import 'utils';

.dynamic-header-container {
  height: $video-bg-height;

  @media ($mat-small-down) {
    height: $video-bg-height-sm;
  }
}

.main-wrapper {
  background: $bg-base;
}

.main-wrapper-limit {
  margin: 0 auto;
  max-width: $page-max-width;

  @media ($mat-small-down) {
    flex-direction: column;
  }
}

.sidebar-wrapper {
  @media ($mat-small-down) {
    height: $header-height-overflow-xs-down;
  }
}

.container-wrapper {
  width: 75%;

  @media ($mat-small-down) {
    width: auto;
  }
}
