<div class="dynamic-header-container">
  <app-dynamic-header-cont></app-dynamic-header-cont>
</div>
<div class="main-wrapper">
  <div class="d-flex main-wrapper-limit">
    <div class="p-2 sidebar-wrapper mb-5">
      <app-sticky-sidebar-cont [tabSelected]="TAB_OPTIONS[(tabService?.tab$ | async)?.id]"></app-sticky-sidebar-cont>
    </div>
    <div class="p-2 container-wrapper flex-grow-1">
      <app-cv-slider-cont [tabSelected]="TAB_OPTIONS[(tabService?.tab$ | async)?.id]"></app-cv-slider-cont>
    </div>
  </div>
</div>
