@import 'utils';

.dynamic-header-container {
  display: flex;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: -1;
}

.video-wrapper {
  position: relative;

  &:after {
    background: linear-gradient(transparent 25%, $bg-base);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

video {
  height: $video-bg-height;
  object-fit: cover;
  width: 100vw;
}
