<div class="cv-slider-wrapper">
  <swiper class="swiper-container fade-slide-in delay350">
    <div class="swiper-slide"><app-personal-cont></app-personal-cont></div>
    <div class="swiper-slide"><app-projects-cont></app-projects-cont></div>
    <div class="swiper-slide"><app-employers-cont></app-employers-cont></div>
    <div class="swiper-slide"><app-education-cont></app-education-cont></div>
    <div class="swiper-slide"><app-other-info-cont></app-other-info-cont></div>
    <div class="swiper-slide"><app-contact-cont></app-contact-cont></div>
  </swiper>
</div>
